html{
  display: flex;
  justify-content: center; 
  padding-top: 60px;
}

.app-div{
  
  background-color: green;
  display: flex;
  justify-content: center;  
}

.dropdown button {
  width: 20em;
  height: 5em;
}

.total-clicks{
  /* text-align: center; */
  background-color: grey;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 70px;
}