body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
  background-image: url('./NYC_Hotdog_cart.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

